<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAS.DataPorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAS.DataPorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CAS.Lib.DataPorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CAS.DataPorter.Lib.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="HTTPSoapPort" value="8001" />
    <add key="TCPBinaryPort" value="8002" />
    <add key="configfile" value="DemoConfiguration.oses" />
    <add key="PLCNaN" value="65535" />
    <add key="MinAvgMax_FrameResponse_management" value="20" />
    <add key="MinAvgMax_CharacterGap_management" value="500" />
    <add key="MinAvgMax_Tag_management" value="20" />
    <add key="MinAvgMax_Group_management" value="20" />
    <add key="MinAvgMax_Group_Read_management" value="20" />
    <add key="MinAvgMax_Transaction_management" value="20" />
    <add key="WaitForReconnectServerInSec" value="30" />
    <add key="WaitForFirstGroupUpdateSendInMiliSec" value="1000" />
    <add key="UseLocalTime" value="False" />
    <add key="UseTimeStampToCheckForUpdate" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <CAS.DataPorter.Properties.Settings>
      <setting name="SleepAfterConnect" serializeAs="String">
        <value>00:00:00.1000000</value>
      </setting>
      <setting name="ItemDscConfigurationFile" serializeAs="String">
        <value>item_dsc.xml</value>
      </setting>
    </CAS.DataPorter.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <CAS.DataPorter.Properties.Settings>
      <setting name="MonitorInterfacePort" serializeAs="String">
        <value>7999</value>
      </setting>
      <setting name="MonitorInterfaceEntryName" serializeAs="String">
        <value>DataPorter.Monitor.Interface</value>
      </setting>
      <setting name="MonitorInterfaceHost" serializeAs="String">
        <value>localhost</value>
      </setting>
    </CAS.DataPorter.Properties.Settings>
    <CAS.Lib.DataPorter.Properties.Settings>
      <setting name="MonitorInterfacePort" serializeAs="String">
        <value>7999</value>
      </setting>
      <setting name="MonitorInterfaceEntryName" serializeAs="String">
        <value>DataPorter.Monitor.Interface</value>
      </setting>
      <setting name="MonitorInterfaceHost" serializeAs="String">
        <value>localhost</value>
      </setting>
    </CAS.Lib.DataPorter.Properties.Settings>
    <CAS.DataPorter.Lib.Settings>
      <setting name="BufferedAccessOperation_maxQueueSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BufferedAccessOperation_useTimeStampToIndicateNewValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BufferedAccessOperation_TimeToKeepUnusedQueuesInSeconds" serializeAs="String">
        <value>14400</value>
      </setting>
    </CAS.DataPorter.Lib.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="TracesFromEventLogMonitor" switchName="EventLogMonitor" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="OpcCom.Tracer" switchName="OPCClient.Da" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="Opc.Tracer" switchName="OPCClient.Da" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="CAS.Lib.OPCClient.Da" switchName="OPCClient.Da" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="CAS.Lib.DataPorter" switchName="CAS.Lib.DataPorter" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="CAS.BaseStation.Transactions" switchName="CAS_BaseStation_Transactions" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add name="console"
            type="System.Diagnostics.ConsoleTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
          </add>-->
          <!--<add name="DebugOutput" />-->
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!--ms-help://MS.VSCC.v80/MS.MSDN.v80/MS.NETDEVFX.v20.en/cpref6/html/T_System_Diagnostics_SourceLevels.htm-->
      <!-- SourceLevels Enumeration -->
      <add name="EventLogMonitor" value="Warning" />
      <add name="CAS_BaseStation_Transactions" value="Warning" />
      <add name="CAS.Lib.DataPorter" value="Information" />
      <add name="OPCClient.Da" value="Information" />
      <!-- value:  Required String attribute. Sets the verbosity of the output. 
                  Legitimate values are Critical, Error, Verbose, Warning, and Information.
      -->
      <!-- maxdatasize:  Optional Int32 attribute. Sets the maximum number of bytes of network data included in each line trace. 
                         The default value is 1024.
      -->
      <!-- tracemode Optional String attribute. Set to includehex to show protocol traces in hexadecimal and text format. 
      Set to protocolonly to show only text. The default value is includehex.
      -->
    </switches>
    <sharedListeners>
      <!--<add name ="DebugOutput" type ="System.Diagnostics.ConsoleTraceListener" initializeData ="All">
        -->
      <!-- Allows all events through. -->
      <!--
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
        -->
      <!-- Allows the Stop, Start, Suspend, Transfer, and Resume events through. -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="ActivityTracing" /> -->
      <!--
        -->
      <!-- Allows only Critical events through.  -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Critical" /> -->
      <!--
        -->
      <!-- Allows Critical and Error events through.  -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" /> -->
      <!--
        -->
      <!-- Allows Critical, Error, Warning, and Information events through. -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" /> -->
      <!--
        -->
      <!-- Does not allow any events through. -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Off" /> -->
      <!--
        -->
      <!-- Allows Critical, Error, Warning, Information, and Verbose events through.  -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" /> -->
      <!--
        -->
      <!-- Allows Critical, Error, and Warning events through. -->
      <!--
        -->
      <!-- <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" /> -->
      <!--
      </add>-->
      <add name="LogFile" type="CAS.Lib.RTLib.Diagnostics.AdvancedDelimitedListTraceListener, CAS.RTLibComm" initializeData="|ApplicationDataPath|log\DataPorter.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <!--<add name="ConfigLogFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData ="log\NetworkConfig.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>-->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.23357" newVersion="5.1.2.23357" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>