<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataPorter.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataPorter.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataPorter.Monitor.Properties.Settings>
            <setting name="MonitorInterfacePort" serializeAs="String">
                <value>7999</value>
            </setting>
            <setting name="MonitorInterfaceEntryName" serializeAs="String">
                <value>DataPorter.Monitor.Interface</value>
            </setting>
            <setting name="MonitorInterfaceHost" serializeAs="String">
                <value>localhost</value>
            </setting>
        </DataPorter.Monitor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DataPorter.Monitor.Properties.Settings>
            <setting name="ConnectToDataPorterServiceOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DispalySplashScreenOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </DataPorter.Monitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAS.CommServer.DAClientConfiguration" publicKeyToken="8832ff1a67ea61a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.23357" newVersion="5.1.2.23357" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
