<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="6.0.1" targetFramework="net451" />
  <package id="CAS.CommServer.DA.Client" version="2.00.17" targetFramework="net451" />
  <package id="CAS.CommServer.DAClientConfiguration" version="5.01.05" targetFramework="net451" />
  <package id="CAS.CommServer.DeviceSimulator" version="5.01.05" targetFramework="net451" />
  <package id="CAS.CommServer.OPCClassic.SDK.COMWrapper" version="2.01.1063" targetFramework="net451" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net451" />
  <package id="CAS.RealTime" version="5.0.5" targetFramework="net451" />
  <package id="CAS.Windows.Forms" version="6.0.1" targetFramework="net451" />
</packages>